{{!-- Display table with ServicePlatforms data currently in database --}}
<div class="table-block">
    <h2 class="section-title">Service Platforms</h2>
    <table id="service-platforms-table">
        <thead>
            {{!-- Each key of the row object serves as a header entry for a column when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>    
        </thead>
        <tbody>
            {{#each data}}
            {{!-- For each row, print the servicePlatformID and platformName, in order --}}
            <tr data-value={{this.servicePlatformID}}>
                <td>{{this.servicePlatformID}}</td>
                <td>{{this.platformName}}</td>
                <td><button onclick="deleteServicePlatform({{this.servicePlatformID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
{{!-- Script handles DOM manipulation and AJAX request --}}
    <script src="./js/delete_service_platform.js"></script>
</div>

{{!-- Adding a Service Platform --}}
<div class="table-block">
    <h2 class="section-title">Add a Service Platform</h2>
    <p class="section-description">To add a Service Platform, please enter its information below and click 'Add Service Platform'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="add-service-platform-form-ajax">
                        <label for="input-platformName">Platform Name: </label>
                        <input type="text" name="input-platformName" id="input-platformName">
                        <br>
                        <input type="submit" value="Add Service Platform">
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/add_service_platform.js"></script>
