{{!-- Display table with data currently in database --}}
<div class="table-block">
    <h2 class="section-title">Customers</h2>
    <br>
    <table id="customers-table">
        <thead>
            {{!-- Each key of the row object serves as a header entry for a column when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <tbody>
            {{!-- For each row, prints customerID, servicePlatformID, username, and email, in order --}}
            {{#each data}}
            <tr data-value={{this.customerID}}>
                <td>{{this.customerID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.email}}</td>                
                <td>{{this.servicePlatform}}</td>
                <td><button onclick="deleteCustomer({{this.customerID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <script src="./js/delete_customer.js"></script>
</div>
<br>


{{!-- Adding a customer --}}
<div class="table-block">
    <h2 class="section-title">Add a Customer</h2>
    <p class="section-description">To add a Customer, please enter their information below and click 'Add Customer'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <label for="input-username">Username: </label><br>
                    <input type="text" name="input-username" id="input-username" required>
                </td>
                <td>
                    <label for="input-email" align="right">Email: </label><br>
                    <input type="text" name="input-email" id="input-email" required>
                </td>
                <td>
                    <form id="add-customer-form-ajax">
                    <label for="input-servicePlatform">Platform: </label><br>
                    <select name="input-servicePlatform" id="input-servicePlatform" required>
                        <option value="">Select a Service Platform</option>
                        {{#each servicePlatforms}}
                        <option value="{{this.servicePlatformID}}">{{this.platformName}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <input type="submit" value="Add Customer" required>
                </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/add_customer.js"></script>
    

{{!-- Updating a customer --}}
<div class="table-block">
    <h2 class="section-title">Update a Customer's Information</h2>
    <p class="section-description">Select the Customer's name from the drop-down menu, amend their details, and click 'Update Customer'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="update-customer-form-ajax">
                    {{!-- Displays username instead of customerID, for better usability --}}
                    <label for="input-username">Current Username: </label><br>
                    <select name="input-username" id="mySelect" required>
                        <option value="test">Select a Username</option>
                        {{#each data}}
                        <option value="{{this.customerID}}">{{this.username}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <label for="input-servicePlatformID">Platform: </label><br>
                    <select name="input-servicePlatformID" id="input-servicePlatformID-update" required>
                        <option value="">Select a Service Platform</option>
                        {{#each servicePlatforms}}
                        <option value="{{this.servicePlatformID}}">{{this.platformName}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <label for="input-username">New Username: </label><br>
                    <input type="text" name="input-username" id="input-username-update" required>            
                </td>
                <td>
                    <label for="input-email">E-mail: </label><br>
                    <input type="text" name="input-email" id="input-email-update" required>
                </td>
                <td>
                    <input type="submit" value="Update Customer">
                    <br>
                </td>
            </tr>
        </form>

        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/update_customer.js"></script>
