{{!-- Display table with data currently in database --}}
<div class="table-block">
    <h2 class="section-title">Customers_Have_Games</h2>
    <table id= "customers-have-games-table">
        <thead>
            {{!-- Each key of the row object serves as a header entry for a column when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{!-- For each row, print the customersHaveGamesID, customerID, gameID, and installdate, in order --}}
            {{#each data}}
            <tr data-value={{this.customersHaveGamesID}}>
                <td>{{this.customersHaveGamesID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.game}}</td>
                <td>{{this.installDate}}</td>
                <td><button onclick="deleteCustomersHaveGame({{this.customersHaveGamesID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    {{!-- Script handles DOM manipulation and AJAX request --}}
    <script src="./js/delete_customers_have_games.js"></script>
</div>


{{!-- Adding a CustomersHaveGames relationship --}}
<div class="table-block">
    <h2 class="section-title">Add a CustomersHaveGames Relationship</h2>
    <p class="section-description">To add a CustomersHaveGames relationship, please enter its information below and click 'Add Relationship'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="add-customers-have-games-form-ajax">
                    <label for="input-customerID">Customer Username: </label>
                    <select name="input-customerID" id="input-customerID" required>
                        <option value="">Select a customer</option>
                        {{#each customers}}
                        <option value="{{this.customerID}}">{{this.username}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-gameID">Game: </label>
                    <select name="input-gameID" id="input-gameID" required>
                        <option value="">Select a game</option>
                        {{#each games}}
                        <option value="{{this.gameID}}">{{this.title}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-installDate">Install Date: </label>
                    <input type="date" name="input-installDate" id="input-installDate">            
                </td>
                <td>
                    <input type="submit" value="Add Relationship">
                </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/add_customers_have_games.js"></script>


{{!-- Updating a Customers Have Games relationship --}}
<div class="table-block">
    <h2 class="section-title">Update a CustomersHaveGame's Relationship</h2>
    <p class="section-description">Select the relationship from the drop-down menu to the left, amend its details, and click 'Update Relationship'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="update-customers-have-games-form-ajax">
                    <label for="input-title">Relationship: </label>
                    <select name="input-chg-relationship" id="mySelect">
                        <option value="">Select a Relationship</option>
                        {{#each data}}
                        <option value="{{this.customersHaveGamesID}}">{{this.customersHaveGamesID}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-title">Customer Username: </label>
                    <select name="input-customer-username" id="input-customerID-update" required>
                        <option value="">Select a Game Title</option>
                        {{#each customers}}
                        <option value="{{this.customerID}}">{{this.username}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-title">Game Title: </label>
                    <select name="input-game-title" id="input-gameID-update" required>
                        <option value="">Select a Game Title</option>
                        {{#each games}}
                        <option value="{{this.gameID}}">{{this.title}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-installDate">Install Date: </label>
                    <input type="date" name="input-installDate" id="input-installDate-update">
                </td>
                <td>
                    <input type="submit" value="Update Relationship">
                </td>
                </form>
            </tr>

        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/update_customers_have_games.js"></script>
