{{!-- Display table with Microtransactions data currently in database --}}
<div class="table-block">
    <h2 class="section-title">Microtransactions</h2>

    <table id="microtransactions-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>

        <body>
            {{#each data}}

            <tr data-value={{this.microtransactionID}}>
                <td>{{this.microtransactionID}}</td>
                <td>{{this.game}}</td>
                <td>{{this.price}}</td>
                <td>{{this.description}}</td>
                <td><button onclick="deleteMicrotransaction({{this.microtransactionID}})">Delete</button></td>
            </tr>
            {{/each}}
        </body>
    </table>
    <br>
{{!-- Script handles DOM manipulation and AJAX request --}}
    <script src="./js/delete_microtransaction.js"></script>
</div>


{{!-- Form to add a record to the table  --}}
<div class="table-block">
    <h2 class="section-title">Add a Microtransaction</h2>
    <p class="section-description">To add a Microtransaction please enter its information below and click 'Add Microtransaction'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="add-microtransaction-form-ajax">
                    <label for="input-gameID">Game Name: </label>
                    <select name="input-gameID" id="input-gameID">
                        <option value="">Select a Game</option>
                        {{#each games}}
                        <option value="{{this.gameID}}">{{this.title}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <label for="input-price">Price: </label>
                    <input type="number" name="input-price" id="input-price" step="0.01" min="0" required>
                </td>
                <td>
                    <label for="input-description">Description: </label>
                    <input type="text" name="input-descrption" id="input-description" required>
                </td>
                <td>
                    <input type="submit" value="Add Microtransaction" >
                </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/add_microtransaction.js"></script>
