{{!--
Citation for the following code:
Date: 2023/05/24
Adapted from:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%207%20-%20Dynamically%20Deleting%20Data
--}}

{{!-- Display table with Purchases data currently in database --}}
<div class="table-block">
    <h2 class="section-title">Purchases</h2>
    <table id= "purchases-table">
        <thead>
            {{!-- Each key of the row object serves as a header entry for a column when the page renders --}}
            <tr>
                {{#each data.[0]}}
                <th>
                    {{@key}}
                </th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{!-- For each row, print the purchaseID, customerID, microtransactionID, and date, in order --}}
            {{#each data}}
            <tr data-value={{this.purchaseID}}>
                <td>{{this.purchaseID}}</td>
                <td>{{this.username}}</td>
                <td>{{this.microtransaction}}</td>
                <td>{{this.date}}</td>
                <td><button onclick="deletePurchase({{this.purchaseID}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <script src="./js/delete_purchase.js"></script>
</div>


{{!--
Citation for the following code:
Date: 2023/05/24
Adapted from:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%205%20-%20Adding%20New%20Data
--}}
<div class="table-block">
    <h2 class="section-title">Add a Purchase</h2>
    <p class="section-description">To add a Purchase, please enter its information below and click 'Add Purchase'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="add-purchase-form-ajax">
                        <label for="input-customerID">Username: </label>
                        <select name="input-customerID" id="input-customerID">
                            <option value="">Select a username</option>
                            {{#each customers}}
                            <option value="{{this.customerID}}">{{this.username}}</option>
                            {{/each}} 
                        </select>
                </td>
                <td>
                    <label for="input-microtransactionID">Microtransaction: </label>
                    <select name="input-microtransactionID" id="input-microtransactionID" required>
                        <option value="">Select a microtransaction</option>
                        {{#each microtransactions}}
                        <option value="{{this.microtransactionID}}">{{this.description}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-date">Date: </label>
                    <input type="date" name="input-date" id="input-date" required>
                </td>
                <td>
                    <input type="submit" value="Add Purchase">
                </td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/add_purchase.js"></script>

{{!--
Citation for the following code:
Date: 2023/05/24
Adapted from:
https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%208%20-%20Dynamically%20Updating%20Data
--}}
{{!-- Updating a purchase --}}
<div class="table-block">
    <h2 class="section-title">Update a Purchase's Information</h2>
    <p class="section-description">Select the Purchase's ID from the drop-down menu, amend its details, and click 'Update Purchase'</p>
    <table class="add_update_tables">
        <tbody>
            <tr>
                <td>
                    <form id="update-purchase-form-ajax">
                    <label for="input-purchaseID">PurchaseID: </label><br>
                    <select name="input-purchaseID" id="mySelect" required>
                        <option value="">Select a PurchaseID</option>
                        {{#each data}}
                        <option value="{{this.purchaseID}}">{{this.purchaseID}}</option>
                        {{/each}}
                    </select>
                </td>
                <td>
                    <label for="input-customerID">Username: </label>
                    <select name="input-customerID" id="input-customerID-update">
                        <option value="">NULL</option>
                        {{#each customers}}
                        <option value="{{this.customerID}}">{{this.username}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-microtransactionID">Microtransaction: </label>
                    <select name="input-microtransactionID" id="input-microtransactionID-update" required>
                        <option value="">Select a microtransaction</option>
                        {{#each microtransactions}}
                        <option value="{{this.microtransactionID}}">{{this.description}}</option>
                        {{/each}} 
                    </select>
                </td>
                <td>
                    <label for="input-date">Date: </label>
                    <input type="date" name="input-date" id="input-date-update">
                </td>
                <td>
                    <input type="submit" value="Update Purchase">
                    <br>
                </td>
            </tr>
        </form>

        </tbody>
    </table>
</div>
<br>
<br>
{{!-- Script handles DOM manipulation and AJAX request --}}
<script src="./js/update_purchase.js"></script>